# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno (Secretos)
.env

# Base de datos local (Opcional, si no quieres subir tus pruebas)
db.sqlite3

# Archivos de Python
__pycache__/
*.py[cod]

# Archivos de Node
node_modules/
dist/